/* You can add global styles to this file, and also import other style files */
@import '_vars.scss';

body{
    color: $font-color;
    background-color: $background-color;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}